#main-con{
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.readmore {
    background-color: #558E90;
    height: 25px;
}
.readmore:hover {
    background-color: rgba(85,142,144,0.6);
    color: rgba(255,255,255,0.6);
}
.watchlist {
    background-color: #4C7F81;
    height: 25px;
}
.watchlist:hover {
    background-color: rgba(76,127,129,0.6);
    color: rgba(255,255,255,0.6);
}
.trailer {
    background-color: #447274;
    height: 25px;
}
.trailer:hover {
    background-color: rgba(68,114,116,0.6);
    color: rgba(255,255,255,0.6);
}

/* slider */
.slider-wrap {
    height: 76vh;
    background-color: black;
    margin-top: 12vh;
    margin-bottom: 12vh;
    
    display: block;
    overflow: hidden;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide-1 {
    left: 0%;
}
.slide-2 {
    left: 100%;
}
.slide-3 {
    left: 200%;
}
.slide-4 {
    left: 300%;
}

.slide-indicator {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 67vh;
    left: 0;
}
.slide-indicator input {
    margin: auto;
}

.image{
    height: 100%;
    position: absolute;
    float: left;
    z-index: 1;
    margin-top: -3vh;
}
.image1{
    background: rgba(0,0,0,0) url(../img/home/babydriver.jpg) center center no-repeat;
    background-size: contain;
}
.image2{
    background: rgba(0,0,0,0) url(../img/home/bladerunner.jpg) center center no-repeat;
    background-size: contain;
}
.image3{
    background: rgba(0,0,0,0) url(../img/home/gameofthrones.jpg) center center no-repeat;
    background-size: contain;
}
.image4{
    background: rgba(0,0,0,0) url(../img/home/rickandmorty.png) center center no-repeat;
    background-size: contain;
}

.coloured-bar{
    background-color: cadetblue;
    height: 60vh;
    margin-top: 5vh;
}
.text h1 {
    font-family: 'Pangram-Bold';
    margin-bottom: 65px;
}
.text h2 {
    color: black;
    text-align: left;
    margin-top: -55px;
}
.text p {
    font-family: 'Pangram-Bold';
    text-align: left;
    font-size: 12px;
    margin-bottom: 40px;
}
.button {
    display: block;
    float: none;
    border-style: none;
    margin-bottom: 5px;
}

/* Slider Slide Effect */
.radiobutton1:checked ~ .slide {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.radiobutton2:checked ~ .slide {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.radiobutton3:checked ~ .slide {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}
.radiobutton4:checked ~ .slide {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

/* end of slider */

.intro{
    margin-bottom: 12vh;
    margin-top: 100vh;
    overflow: hidden;
}

.title {
    height: 60px;
    background-color: cadetblue;
    margin: 0px 0px 50px 0px;
    overflow: hidden;
}

#releases{
    height: 400px;
    float: left;
    margin-top: 30px;
    padding: 15px;
    background-clip: content-box;
}

.overlay-hover {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    padding: 50px 30px;
}
.overlay-hover button {
    height: 30px;
    margin-top: 20px;
}

footer {
    background-color: cadetblue;
    overflow: hidden;
    height: 100px;
    margin-top: 10vh;
    padding-top: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img {
    height: 60px;
}

footer a {
    color: rgba(255,255,255,0.3);
    display: block;
}
footer a:hover {
    text-decoration: none;
    color: white;
}