/*sign up button*/
/*#sign-up{
    width:150px;
    margin-top:70px;
    margin-left: 70px;
    margin-bottom: 200px;
    background-color: mediumaquamarine;
    float: left;
}*/

.sign-up-row {
    width: 100%;
    float: left;
}
.sign-up{
    padding: 0px;
}
.sign-up button{
    border: none;
    color: white;
    font-size: 2.5vw;
    font-family: 'Aquagro';
    text-align: center;
    background-color: mediumaquamarine;
    margin-top: 20px;
    width: 100%;
}
.sign-up button:hover {
    background-color: #339977;
}

/*header with the logo*/
#header{
    margin-top: 140px;
}
#header img {
    margin: auto;
    width: 100%;
}

/*inputs*/
#inputs {
    margin-top: 120px;
}

.input {
    padding: 0px;
}

.input input {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    background-color: rgba(102,221,170,0.7);
    border-style: none;
    padding: 3px 10px;
    color: white;
    font-family: 'Pangram-Medium';
}

.input input:focus {
    -webkit-animation-name: typing;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-name: typing;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    
    outline-style: none;
}
@-webkit-keyframes typing {
    from {background-color: rgba(102,221,170,0.7);}
    to {background-color: rgba(102,221,170,0.4);}
}
@keyframes typing {
    from {background-color: rgba(102,221,170,0.7);}
    to {background-color: rgba(102,221,170,0.4);}
}

::placeholder {
    color: rgba(255,255,255,0.7);
    font-family: 'Pangram-Medium';
    letter-spacing: 0px;
    font-weight: normal;
}

/* view/hide password */
@font-face {
    font-family: 'dotsfont';
    src:url('dotsfont.eot');
    src:url('dotsfont.eot?#iefix')  format('embedded-opentype'),
        url('dotsfont.svg#font')    format('svg'),
        url('dotsfont.woff')        format('woff'),
        url('dotsfont.ttf')         format('truetype');
}
.dots {
    -webkit-text-security: disc;
    font-family: dotsfont;
    letter-spacing: 4px;
    font-weight: 1000;
}
.input .password .glyphicon {
    color: white;
    position: absolute;
    float: left;
    margin: 49px 2% 0px 90%;
    cursor: pointer;
    font-size: 18px;
}

/* remove username/email */
.input .username .glyphicon {
    color: white;
    position: absolute;
    float: right;
    margin: 14px 2% 0px 90%;
    cursor: pointer;
    font-size: 18px;
}

/*login button*/
.login {
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: mediumaquamarine;
    border-width: 2px;
    margin-top: 30px;
    font-family: 'Pangram-Medium';
    text-align: center;
    font-size: 25px;
}
.login p {
    width: 100%;
    margin: 0px;
}
.login p a{
    color: white;
}
.login:hover {
    -webkit-animation-name: login-hover;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-name: login-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@-webkit-keyframes login-hover {
    from {background-color: rgba(0,0,0,0,0);}
    to {background-color: rgba(0,0,0,0.3);}
}
@keyframes login-hover {
    from {background-color: rgba(0,0,0,0,0);}
    to {background-color: rgba(102,221,170,0.3);}
}
.login a:hover{
    text-decoration: none;
}

/* ---- 0r ----- */
.or{
    margin-top: 20px;
}
.devider-line {
    height: 3px;
    background-color: white;
    margin-top: 10px;
}
.or-word p {
    color: white;
    text-align: center;
}

.facebook {
    padding: 0px 5px;
}

.facebook button {
    width: 100%;
    float: right;
    background-color: #4a7ebd;
    border-style: none;
    padding: 3px 5px;
    font-size: 11px;
}
.facebook button:hover {
    background-color: rgba(74,126,189,0.8);
    border-style: none;
}
.facebook button img {
    height: 25px;
    float: left;
}

.google {
    padding: 0px 5px;
}
.google button {
    width: 100%;
    background-color: #fd5c4f;
    border-style: none;
    padding: 3px 5px;
    font-size: 11px;
}
.google button:hover {
    background-color: rgba(253,92,79,0.8);
    border-style: none;
}
.google button img {
    height: 25px;
    float: left;
}