/*body{
	margin: 0 auto;
	padding: 50px;
}*/
/*pop up divs*/
#indiv {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}
#indiv-1 {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}
#indiv-2 {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}
#indiv-3 {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}
#indiv-4 {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}
#indiv-5 {
    /*margin-top: 5%; trying to get this in the end */
    margin-top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    
    background-color: rgba(19,19,19,0.9);
    border-width: 5px;
    border-style: solid;
    border-color: #339987;
    overflow: auto;
    
    padding-top: 50px;
    
    position: fixed;
    z-index: 20;
}

.close {
    position: fixed;
    margin: 1% 3% 95% 80%;
    z-index: 25;
    opacity: 1;
}
.close h3 i{
    font-size: 50px;
}
.close:hover {
    opacity: 0.7;
}

.poster img {
    width: 100%;
}

.info {
    margin-right: 60px;
    font-size: 16px;
}
.info p {
    color: #339987;
}

.info h1{
    font-size: 16px;
    margin-bottom: 0px;
    color: #ffffff;
}

.watchlist-button {
    margin-top: 12px;
    margin-left: 25px;
    float: left;
}

.watchlist-button button {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    border-color: #339987;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    width: 170px;
    font-size: 20px;
}

.download-button {
    margin-top: 12px;
    margin-left: 35px;
    float: left;
}

.download-button button {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    border-color: #339987;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    width: 170px;
    font-size: 20px;
}

/*download & watchlist hover*/
.watchlist-button button:hover {
    -webkit-animation-name: button-hover;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-name: button-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.download-button button:hover {
    -webkit-animation-name: button-hover;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-name: button-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@-webkit-keyframes button-hover {
    from {background-color: rgba(0,0,0,0);}
    to {background-color: rgba(0,0,0,0.3);}
}
@keyframes button-hover {
    from {background-color: rgba(0,0,0,0);}
    to {background-color: rgba(102,221,170,0.3);}
}

.imdb-rating {
    margin-top: 70px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 100px;
    color: #ffffff;
}

.imdb-rating p {
    color: #339987;
    font-size: 17px;
    margin-left: 120px;
}

.description p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
}

.trailerdiv img {
    width: 100%;
}

/* This file is for all the images of the movies. */
.imagediv{
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-top: -3vh;
}

.image1{
    background: rgba(0,0,0,0) url(../img/home/babydriver.jpg) center center no-repeat;
    background-size: contain;
}
.image2{
    background: rgba(0,0,0,0) url(../img/home/bladerunner.jpg) center center no-repeat;
    background-size: contain;
}
.image3{
    background: rgba(0,0,0,0) url(../img/home/gameofthrones.jpg) center center no-repeat;
    background-size: contain;
}
.image4{
    background: rgba(0,0,0,0) url(../img/home/rickandmorty.png) center center no-repeat;
    background-size: contain;
}

.image {
    height: 400px;
    position: relative;
    z-index: 1;
}
#releases {
    display: table-cell;
    text-align: center;
    
    height: 400px;
    margin-top: 30px;
    padding: 0px;
}

/* When hovering on a specific movie */
.overlay {
    opacity: 0;
    width: 80%;
    margin-left: 10%;
    margin-top: -400px;
    height: 400px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.overlay button {
    min-height: 40px;
    margin-top: 20px;
    overflow: hidden;
}
