body {
    background-color: black;
}

#header{
    height: 150px;
    background-color: cadetblue;
    float: left;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: -80px;
    padding-left: 100px;
    
    border-color: blue;
    border-top-width: 50px;
    border-left-width: 50px;
}

.accordion{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
}
.aheader {
    padding: 8px 15px;
    width: 100%;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}
.aheader p{
    font-family: 'Pangram-Medium';
    margin: 0px;
    font-size: 18px;
}

/*filternumbers determine colour of accordion header*/
.filter1 {
    background-color: cadetblue;
}
.filter2{
    background-color: #558e90;
}
.filter3{
    background-color: #4c7e80;
}
.filter4{
    background-color: #426e70;
}

select {
    border-style: none;
}

.acontent {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    z-index: 2;
    background-color: black;
    border-style: none;
}
.accordion ul {
    list-style-type: none;
    padding: 0px;
}
.accordion ul li {
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    font-family: 'Pangram-Medium';
}

/* the readmore, watchlist trailer buttons*/
.readmore {
    background-color: #558E90;
    min-height: 25px;
    border-style: none;
    margin-bottom: 5px;
}
.readmore:hover {
    background-color: rgba(85,142,144,0.6);
    color: rgba(255,255,255,0.6);
}
.watchlist {
    background-color: #4C7F81;
    height: 25px;
    border-style: none;
    margin-bottom: 5px;
}
.watchlist:hover {
    background-color: rgba(76,127,129,0.6);
    color: rgba(255,255,255,0.6);
}
.trailer {
    background-color: #447274;
    height: 25px;
    border-style: none;
    margin-bottom: 5px;
}
.trailer:hover {
    background-color: rgba(68,114,116,0.6);
    color: rgba(255,255,255,0.6);
}

/* the images of the movies */
#movies{
    height: 400px;
    float: left;
    margin-top: 30px;
    padding: 15px;
    background-clip: content-box;
}
.image1{
    background: rgba(0,0,0,0) url(../img/home/babydriver.jpg) center center no-repeat;
    background-size: contain;
}
.image2{
    background: rgba(0,0,0,0) url(../img/home/bladerunner.jpg) center center no-repeat;
    background-size: contain;
}
.image3{
    background: rgba(0,0,0,0) url(../img/home/gameofthrones.jpg) center center no-repeat;
    background-size: contain;
}
.image4{
    background: rgba(0,0,0,0) url(../img/home/rickandmorty.png) center center no-repeat;
    background-size: contain;
}

/* When hovering on a specific movie */
.overlay-hover {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    padding: 50px 30px;
}
.overlay-hover button {
    min-height: 40px;
    margin-top: 20px;
    overflow: hidden;
}

footer {
    background-color: cadetblue;
    overflow: hidden;
    height: 100px;
    margin-top: 10vh;
    padding-top: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img {
    height: 60px;
}

footer a {
    color: rgba(255,255,255,0.3);
    display: block;
}
footer a:hover {
    text-decoration: none;
    color: white;
}